body {
	font-family: Open Sans, sans-serif;
	background-color: #f8f9fa;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
#container {
	text-align: center;
	background-color: #ede7f6;
	/* padding: 30px; */
	border-radius: 5px;
	width: 100%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
footer p a {
	text-decoration: none;
}
footer p a:hover {
	text-decoration: underline;
}
#controls {
	margin-bottom: 20px;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
img {
	max-width: 100%;
	height: auto;
}
h1 {
	color: #333;
	margin-top: 10px;
	font-family: cursive;
	font-size: 28px;
	letter-spacing: 5px;
	font-weight: 700;
}
#new-task {
	padding: 8px;
	margin: 10px 0;
	width: 80%;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 16px;
}
#clear-button {
	padding: 8px;
	border-radius: 4px;
	border: none;
	background-color: #4285f4;
	color: #fff;
	transition: background-color 0.2s ease-in-out;
}
#clear-button:hover {
	background-color: #397ac9;
	cursor: pointer;
}
#todo-list {
	list-style-type: none;
	padding: 10px;
	border-radius: 5px;
}
li {
	background-color: #9bf8ff;
	padding: 10px;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: Open Sans, sans-serif;
	font-size: 16px;
}
li:hover {
	background-color: #80cbc4;
	color: #ffffff;
}
li span {
	cursor: pointer;
}
.completed .task-text {
	text-decoration: line-through;
	filter: opacity(0.5);
}
/* ! Filter Btn */
#show-all {
	background-color: gray;
	color: white;
	border: none;
	padding: 8px;
	border-radius: 4px;
	margin-top: 8px;
}
#show-all:focus {
	background-color: #397ac9;
	color: white;
	border: none;
}
#show-completed {
	background-color: rgb(0, 0, 0);
	color: rgb(94, 255, 0);
	border: none;
	padding: 8px;
	border-radius: 4px;
}
#show-completed:focus {
	background-color: #397ac9;
	color: white;
	border: none;
}
#show-pending {
	background-color: rgb(0, 0, 0);
	color: rgb(255, 0, 0);
	border: none;
	font-weight: 500;
	padding: 8px;
	border-radius: 4px;
}
#show-pending:focus {
	background-color: #397ac9;
	color: white;
	border: none;
}
#show-ongoing {
	background-color: rgb(0, 0, 0);
	color: rgb(238, 255, 0);
	border: none;
	padding: 8px;
	border-radius: 4px;
}
#show-ongoing:focus {
	background-color: #397ac9;
	color: white;
	border: none;
}
/* !Checkbox 	color  */
.pending {
	background: #ef5350;
	color: white;
}

.ongoing {
	background: #ffee58;
}

.completed {
	background: #66bb6a;
	color: rgb(255, 255, 255);
}
/* ! Icon */
.delete {
	background: lightcyan;
	border-radius: 30%;
}
.edit {
	background: lightcyan;
	border-radius: 30%;
}
